/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-size: 17px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

header {
  height: 110px;
  width: 100%;

}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color)
}

a {
  color: inherit;
  text-decoration: none;
}

/*******************              Header    Menu             *******************/

#logo {
  margin-right: auto;
	height: 19px;
}

nav {
  display: flex;              
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;     
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
	gap: 68px;
}
nav li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	border-top: solid transparent;
}

nav li:hover {
  display: inherit;
  border-top: 3px solid var(--main-color);
}

nav li:hover a {
  color: var(--main-color);
}

/*******************              Search Form               *******************/

.headline {
  display: block;
}

.headline h1, p {
  margin: 0%;
  gap: 8px;
}

.search-bar {
  height: 50px;
  margin: 30px 0;
  width: fit-content;
  border-radius: 15px;
  border: 1px solid var(--main-bg-color);
  display: flex;
}
.location-dot {
  border-radius: 15px 0px 0px 15px;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  display: flex;
  border: 1px solid #F2F2F2
}

.location-dot i {
  color: black;
  align-items: center;
  width: 50px;
  height: 49px;
  justify-content: center;
  display: flex;
}

.location {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: center;
}

.search-bar button {
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--main-bg-color);
  background-color: var(--main-color);
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.section-title {
  margin: 0;
  font-size: 22px;

}
                      /*******************              Filtres              *******************/

.search-filters {
  width: Hug (758px)px;
  height: Fixed (50px)px;
  gap: 15px;
  opacity: 0px;
  display: flex;
  align-items: center;
}

.search-filters>h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
}

.search-filters>ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.search-filters>ul>li {
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  height: 50px;
  padding: 0 15px;
  border-radius: 25px;
  border: 1px solid var(--main-bg-color);
}

.search-filters>ul>li:hover {
  background-color: var(--filter-bg-color);
}
          /*******************              Infobar               *******************/

.infobar {
  margin: 20px 0;
  display: flex;
  align-items: center;
	width: Fill (1,340px)px;
  height: Fixed (24px)px;
  gap: 10px;
}

.infobar i {
	display: flex;
	width: 24px;
	height: 24px;
	color: #0065FC;
  border: 1px solid var(--main-bg-color);
  align-items: center;
  justify-content: center;
	border-radius: 15px;
	font-size: small;
}
  
                            /****** Hebergements  Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  }

                                  /****** Hebergements ***********/

.hebergements {
  width: 65%;
  }

  .hebergements .section-title {
  padding-bottom: 30px;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hebergements-cards {
  display: flex; 
  justify-content: center;
  gap:30px;
    /* padding-top: 30px; */
  padding-bottom: 30px;
}
.hebergements-cards a {
  width: 30%;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  border: 5px;
}

.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  padding-left: 15px;
}

.hebergements-cards .card-title {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 14px;
}

.hebergements-cards .card-subtitle {
  font-size: 14px;
  margin: 0px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.afficher-plus{
	font-size: 18px;
  font-weight: 700;
}

                                  /****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}
  
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  
  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }
  
										/****** Activites ***********/

.activites {
  display: flex;
  padding: 30px;
  gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.activites-title {
  font-size: 22px;
  font-weight: 700;
}

.activites-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:30px;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  height: 439px;
  width: 100%;
  padding: 0%;
  box-sizing: border-box;
}

.activitres-cards a {
  width: 25%;
}
.activites-cards img {
  width: 297.5px;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
}


.activites-cards .card-content {
  padding: 20px 19px 20px 19px;
  gap: 10px;
  border-radius: 0px 0px 20px 20px;
}

.activites-cards .card-title {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 14px;
}

					/****** Footer ***********/
 
.footer {
  display: flex;
  background: var(--main-bg-color);
}

.about {
  width: 33%;
  padding: 20px 0px 20px 20px;
  gap: 15px;
}

.about h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
}  

.about a {
  display: flex;
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: left;
}  
  
  /* Le code ci-dessous correspond à la version responsive uniquement */
  
  /****** Media queries ***********/
  /* Medium devices (tablets, less/equal than 1024px) */
  @media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
  
    .hebergements {
        width: 100%;
    }
  
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
  
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .populaires-cards a {
        width: 30%;
    }
  
    .populaires-cards .card-title {
        font-size: 14px;
    }
  
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
  }
  
  /* Small devices (phones, less than 768px) */
  @media (max-width: 767.98px) {
    /* ... */
  }