/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
  }
  
  :root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
  }
  
  .fa-solid {
    color: var(--main-color);
  }
  
  body {
    display: flex;
    justify-content: center;
  }
  
  .main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  /*******************                 Header                 *******************/
  #logo {
    margin-right: auto;
  }
  
  nav {
    display: flex;              /* se met au milieu  */
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;     /* pour que booki ne barre pas a gauche      */
  }
  nav a {
    padding: 50px;
    border-top: 3px solid transparent;
  }
  nav a:hover {
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
  }
  .sub-nav {
    display: flex;
  }
  /*******************              Search Form               *******************/
  .headline {
  padding: 20px 0 0 0;
  }
  
  .search-header {
  width: Fill (1,340px)px;
  height: Fixed (53px)px;
  gap: 8px;
  display: block;
  }
  
  
  .search-header p {
    margin-top: 10px;
  
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: left;
  
  }
  
  .search-bar {
  display: flex;
  margin: 30px 0;
  
  width: Fixed (377px)px;
  height: Fixed (49px)px;
  gap: 24px;
  border-radius: 15px 0px 0px 0px;
  
  border: 1px solid var(--main-bg-color);
  
  }
  .search-bar .location-dot {
    width: 50px;
    height: 49px;
  
    border-radius: 15px 0px 0px 15px;
  
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
  display: flex;
  border: 1px solid #F2F2F2
  }
  .search-bar .location-dot i {
    color: black;
  align-items: center;
  width: 14px;
  height: 18px;
  top: 15px;
  left: 18px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  }
  .search-bar .location {
  display: flex;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: center;
  }
  
  .search-bar button {
  width: Hug (132px)px;
  height: Fixed (49px)px;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  border-radius: 0px 15px 15px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #0065FC;
  border: 1px solid #0065FC;
      color: var(--main-bg-color);
    background-color: var(--main-color);
  
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: center;
  
  }
  
  .section-title {
  width: 1340px;
  height: 26px;
  gap: 0px;
  opacity: 0px;
  
  font-size: 22px;
  
  }
  
  .search-filters {
  width: Hug (758px)px;
  height: Fixed (50px)px;
  gap: 15px;
  opacity: 0px;
    display: flex;
  
    align-items: center;
  }
  
  .search-filters>h3 {
  
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  
  
  }
  
  .search-filters>ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
  }
  
  .search-filters>ul>li {
  
  
  padding: 4px 19px 4px 19px;
  gap: 10px;
  border-radius: 25px;
  border: 2px;
  
  
  
    font-weight: 700;
    display: flex;
    align-items: center;
  border: 2px solid #D9D9D9;
  
    border: 1px solid var(--main-bg-color);
  }
  
  .search-filters>ul>li:hover {
    background-color: var(--filter-bg-color);
  }
  
  .search-filters .fa-money-bill-wave i{
  width: Hug (173px)px;
  height: Fixed (50px)px;
  padding: 4px 19px 4px 19px;
  gap: 10px;
  border-radius: 25px;
  border: 2px;
  opacity: 0px;
  
  }
  
  .search-filters .fa-person i{
  width: Hug (134px)px;
  height: Fixed (50px)px;
  padding: 4px 19px 4px 19px;
  gap: 10px;
  border-radius: 25px;
  border: 2px ;
  opacity: 0px;
  
  }
  
  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  
  .card img {
    object-fit: cover;
  }
  
  .card-title {
    font-size: 16px;
  }
  
  .euro {
    font-weight: 700;
  }
  
  .neutral-star {
    color: var(--main-bg-color)
  }
  
  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
  }
  
  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }
  
  /****** Hebergements ***********/
  .hebergements {
    width: 65%;
  }
  
  /****** Populaires ***********/
  .populaires {
    width: 32%;
  }
  
  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
  }
  
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  
  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }
  
  
  
  
  /* Le code ci-dessous correspond à la version responsive uniquement */
  
  /****** Media queries ***********/
  /* Medium devices (tablets, less/equal than 1024px) */
  @media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
  
    .hebergements {
        width: 100%;
    }
  
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
  
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .populaires-cards a {
        width: 30%;
    }
  
    .populaires-cards .card-title {
        font-size: 14px;
    }
  
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
  }
  
  /* Small devices (phones, less than 768px) */
  @media (max-width: 767.98px) {
    /* ... */
  }